@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #eaeaea;
    border-radius: 100vh;
    border: 5px solid #ffffff;
    height: 80px;
  }
}
